@font-face {
  font-family: para ;
  src: url("../../public/fonts/PPNeueMontreal-Book.woff2");
}
@font-face {
  font-family: heading ;
  src: url("../../public/fonts/PPHatton-UltralightItalic.woff2");
}
:root{
  font-size: 1vw !important;
}
.heading{
  font-family: heading !important;
}
h2 {
  font-family: heading;
}
p,
span,
li,
a,
button,
sup,
input {
  font-family: para;
}
